*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #dfe4ea;
}
.heading-wrapper h1{
    text-align: center;
    font-weight: 600;
    padding: 10px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.card img{
    width: 50%;
    height: 50%;
    margin: auto;
}