*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(214, 250, 250);
}
.main-container{
    margin: auto;
    margin-top: 12%;
    border-radius: 8px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: #fff;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image img{
    height: 100%;
    width: 100%;
    /* margin-left: 50px; */
}
.content{
    font-size: 32px;
    text-align: center;
    width: 80%;
    margin-right: 40px;
}
.content h2{
    padding-bottom: 30px;
}
.timer span{
    font-size: 50px;
    padding: 10px 30px;
    background-color: rgb(214, 250, 250);;
    border-radius: 5px;
}
.btns button{
    padding: 15px 40px;
    margin: 30px 0px;
    border: 1px solid #000;
    border-radius: 5px;
}
.btns button i{
    font-size: 22px;
}
.stop:hover{
    background-color: #f39c12;
    color: #fff;
    transition: 0.2s;
    border: 1px solid #000;
}
.start:hover{
    background-color: #2ecc71;
    color: #fff;
    transition: 0.2s;
    border: 1px solid #000;
}
.reset:hover{
    background-color: #e74c3c;
    color: #fff;
    transition: 0.2s;
    border: 1px solid #000;
}
